<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
  <% if Helpers.is_logged_in?(session)%>
    <h1>Welcome <%= Helpers.current_user(session).username %></h1>
    <h3>Your Balance: <%= Helpers.current_user(session).balance %></h3>
  <a href='/'>Log Out</a>
  <% else %>
<<<<<<< HEAD
    <h2>You Must <a href="/">Log In</a> to View Your Balance</h2>
=======
    <h2>You must <a href='/'>log in</a> to view your balance.</h2>
>>>>>>> 7bb0621ed9c8a3aa67a3436f62a3fbb7d817ed6e
  <% end %>
 
  
  
    

  </body>
</html>